@model Article

@section styles{
    <link rel="stylesheet" href="~/lib/simplemde/simplemde.min.css" />
}

@{
            string tagListString = null;
            if (Model.RefToTags != null)
            {
                tagListString = String.Join(", ", Model.RefToTags.Select(rtt => $"#{rtt.ArticelTag.Name}"));
            }


            string returnUrl = "";
            if(Model.ArticleId > 0)
            {
                returnUrl = Url.Action("ShowArticle", "Article", new { articleId = Model.ArticleId });
            }
        }

        @section header_toolbar{
    <a image="Save" id="saveButton" class="text-primary">Save</a>
    <a image="FileExplorer" id="toggleFileExplorer" class="text-primary">File Explorer</a>
    <a image="Close" asp-action="List" asp-controller="Article" class="text-primary">Close</a>
    }

    @section expanding_sidebar{
    @*File Explorer*@
    <div id="file-explorer" class="container d-none">
    </div>
}

<span id="ImageURL" style="display:none;">@Url.Action("GetFiles", "File")</span>
<span id="DeleteFileURL" style="display:none;">@Url.Action("DeleteFile", "File")</span>
<span id="UploadURL" style="display:none;">@Url.Action("UploadFiles", "File")</span>

<h2>EDIT ARTICLE</h2>

<form id="articleForm" method="post" asp-action="SaveArticle" asp-controller="ArticleEdit">
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <input type="hidden" asp-for="ArticleId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Summary"></label>
        <textarea class="form-control" rows="3" asp-for="Summary" autocomplete="off"></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Tags</label>
        <input class="form-control" type="text" id="articleTags" value="@tagListString" />
    </div>
    <div class="form-group">
        <label asp-for="TeaserImagePath"></label>
        <input class="form-control" asp-for="TeaserImagePath" autocomplete="off"/>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <div>
            <div>
                <textarea id="editor" asp-for="Content" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <button id="submitButton" type="submit" class="d-none">Save</button>
</form>

@section Scripts{
    <script type="module" src="~/js/Views/ArticleEdit/ArticleEdit.js"></script>
    <script src="~/lib/simplemde/simplemde.min.js"></script>
    <script>
        //variables
        var simplemde = new SimpleMDE({
            element: document.getElementById("editor"),
            autoDownloadFontAwesome: false,
            toolbar: [
                {
                    name: "bold",
                    action: SimpleMDE.toggleBold,
                    className: "fa fa-bold",
                    title: "Bold",
                },
                {
                    name: "italic",
                    action: SimpleMDE.toggleItalic,
                    className: "fa fa-italic",
                    title: "Italic",
                },
                {
                    name: "strikethrough",
                    action: SimpleMDE.toggleStrikethrough,
                    className: "fa fa-strikethrough",
                    title: "Strike Through",
                },
                "|",
                {
                    name: "heading",
                    action: SimpleMDE.toggleHeadingSmaller,
                    className: "fa fa-heading",
                    title: "Heading",
                },
                "|",
                {
                    name: "code",
                    action: SimpleMDE.toggleCodeBlock,
                    className: "fa fa-code",
                    title: "Code",
                },
                {
                    name: "quote",
                    action: SimpleMDE.toggleBlockquote,
                    className: "fa fa-quote-left",
                    title: "Quote",
                },
                "|",
                {
                    name: "link",
                    action: SimpleMDE.drawLink,
                    className: "fa fa-link",
                    title: "Create Link",
                },
                {
                    name: "image",
                    action: SimpleMDE.drawImage,
                    className: "fa fa-images",
                    title: "Insert Image",
                },
                "|",
                {
                    name: "preview",
                    action: SimpleMDE.togglePreview,
                    className: "fa fa-eye no-disable",
                    title: "Toggle Preview",
                },
                {
                    name: "side-by-side",
                    action: SimpleMDE.toggleSideBySide,
                    className: "fa fa-columns no-disable no-mobile",
                    title: "Toggle Side by Side",
                },
                {
                    name: "fullscreen",
                    action: SimpleMDE.toggleFullScreen,
                    className: "fa fa-arrows-alt no-disable no-mobile",
                    title: "Toggle Fullscreen",
                },
                "|",
                {
                    name: "guide",
                    action: "https://simplemde.com/markdown-guide",
                    className: "fa fa-question-circle",
                    title: "Markdown Guide",
                },
            ]
        });
    </script>
}

