@model ArticleViewModel
@{
    var article = Model.Article;
}

@section header_toolbar{
    <a asp-action="EditArticle" asp-controller="ArticleEdit" asp-route-articleid="@article.ArticleId"
       image="Edit">Edit</a>

    <a id="deleteButton" asp-action="DeleteArticle" asp-controller="ArticleEdit" asp-route-articleid="@article.ArticleId"
       image="Delete" data-question="Warum löschen?" data-id="@article.ArticleId">Delete</a>
}

<div>
    <h1 class="mb-1">@article.Title</h1>
    <div class="summary mb-5 border-bottom border-bottom-2">
        <p class="lead">@article.Summary</p>
    </div>

    <div id="content">
        @Html.Raw(@Model.HtmlContent)
    </div>
    <div class="tags">
        @if (article.RefToTags != null)
        {
            @foreach (var tag in article.RefToTags)
            {
                <a asp-action="List" asp-controller="Article" asp-route-articleTagId="@tag.ArticelTag?.ArticleTagId">#@tag.ArticelTag?.Name</a>
            }
        }
    </div>
    <div class="float-right text-black-50">
        <span class="d-block">Created: @article.CreatedAt.ToShortDateString()</span>
        <span class="d-block">Modified: @article.ModifiedAt.ToShortDateString()</span>
    </div>
</div>
@section script{
    <script>
        var deleteConfirmDialogButtons = document.querySelectorAll(".confirm-delete-dialog")

        for (var i = 0; i < deleteConfirmDialogButtons.length; i++) {
            deleteConfirmDialogButtons[i].addEventListener("click", function (event) {
                event.preventDefault();
                console.log(this.getAttribute("href"));
                console.log(this.dataset.question);
                var result = confirm(this.dataset.question);

                if (result) {
                    var rootForm = document.createElement("form");
                    rootForm.method = "post"
                    rootForm.action = this.getAttribute("href");

                    var idElement = document.createElement("input");
                    idElement.type = "hidden";
                    idElement.name = "ID";
                    idElement.value = this.dataset.id;

                    rootForm.appendChild(idElement);

                    this.parentElement.appendChild(rootForm);
                    rootForm.submit();
                }
            });
        }
    </script>
}