@model Article

    <article class="clearfix p-2 border-bottom border-bottom-2">
        <a class="text-dark" asp-action="ShowArticle" asp-controller="Article" asp-route-articleid="@Model.ArticleId">
            <div class="float-left pr-4">
                <img src="@Model.TeaserImagePath" class="teaser-image"/>
            </div>
            <div>
                <h5>@Model.Title</h5>
                <p>@Model.Summary</p>
            </div>
        </a>
        <div class="tags">
            @if (Model.RefToTags != null)
            {
                @foreach (var tag in Model.RefToTags)
                {
                    <a asp-action="List" asp-controller="Article" asp-route-articleTagId="@tag.ArticelTag?.ArticleTagId">#@tag.ArticelTag?.Name</a>
                }
            }
        </div>
    </article>
